<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Poc API" %></h2>
  <p class="lead">
    An (Elixir/Phoenix) proof of concept (POC), the purpose of which is to verify that certain functional concepts have the potential for real-world application.
  </p>

  <p class="lead"> <%= link "Products", to: product_path(@conn, :index) %> </p>
</div>

